/* Main page settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header section rules */
.navbar {
        background-color: #255ee9;
        position: fixed;
        top: 0;
        left: 0;
        height: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        padding: 0% 5% 0 5%;
        z-index: 500;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 60%;
}
.navbar a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        margin: 0 30px 0 30px;
}
.navbar li:hover{
    text-decoration: underline 2px white;
}

.jumbotron {
    margin-top: 100px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 550px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

}
.jumbo_text {
    font-size: 20px;
    text-align: center;
    padding: 0 30% 0 30%;
}
.jumbo_text h2,
.jumbo_text p {
    margin-bottom: 25px;
    color: white;
}
/* main page rules */
main {
    display: flex;
    flex-direction: column;
}
section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 5% 2% 5%;
}
section.grey{
    background-color: #f6f6f6 ;
}
section.column {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sect_txt.big {
    text-align: center;
}
.sect_img.big{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sect_img {
    width: 50%;
}
.sect_img img{
    max-width: 100%;
}

.sect_txt h3,
section.grey.column {
    font-size: 25px;
}
.sect_txt {
    width: 50%;
    font-size: 20px;
}

/* footer rules */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 36, 36);
    padding: 2% ;
}
footer h2, footer h5 {
    color: rgb(104, 162, 212);
    margin-bottom: 20px;
}
footer section {
    display: flex;
    align-content: stretch;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
}
footer img {
    height: 15px;
    width: 20px;
}
.end_info {
    display: flex;
    flex-basis:content;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 1% 10% 1% 10%;
    border-bottom: 1px solid rgb(125, 177, 255);
    width: 100%;
}
.first_col {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    max-width: 30%;
    padding-right: 10px;
    
}
.col a {
    list-style: none;
    color: white;
    font-size:small;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: none;
}
.col {
    margin-top: 10px;
    width: 17.5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    max-width: 17.5%;
    padding-left: 50px;
}
.end_info_footer {
    padding: 1% 10% 1% 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.end_info_footer button {
    background-color: rgb(125, 177, 255);
    color: white;
    border:none;
}
.end_info_footer img {
    height: auto;
    width: 100px;
}
/* btn rules */
.jumbo_btn {
    display: flex;
    justify-content: center;
}
.btn.azure {
    font-size: 20px;
    margin-top: 20px;
    background-color: #5865f2;
    color: white;
}
.btn.black{
    background-color: black;
    color: white;
}
.nav_login.btn {
    font-size: 15px;
}
.btn {
    font-size: 18px;
    background-color:#ffffff;
    border-radius: 25px;
    padding: 8px;
    display: inline block;
    width: fit-content;
    margin: 0 20px 0 20px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
