/* Main page settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header section rules */
header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-image: url("../img/jumbo.png");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1% 10% 1% 10%;
    /* debug rules */
}
.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1% 0 1% 0 ;
    gap: 50px;
    /* debug rules */

}
.jumbo_sec {
    display: flex;
    text-align: center;
    flex-direction: column ;
    align-content: space-between;
    justify-content: center;
    color: white;
    padding: 0 20% 0 20%;

}
.jumbo_sec h1, .jumbo_sec p, .jumbo_sec button {
    margin: 20px;
}
.jumbo_buttons {
    display: flex;
    justify-content: center;
}
.jumbo_buttons .black_button {
    background-color: rgb(36, 36, 36);
    color: white;
}
#logo {
    /* debug rules */
    width: fit-content;
    height: fit-content;
}
.link_section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.login {
    display: flex;
    justify-content: flex-end;
    align-self: center;

}
.link_section a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}
/* main page rules */
main {
    display: flex;
    flex-direction: column;
}
.section_txt {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 8% 0 8%;
}
.section h2 {
    margin-bottom: 20px;
}
.section_img {
    padding: 10% 0 10% 0;
}
.section {
    display: flex;
    background-color: white;
    padding: 0 10% 0 10%;

}
.section[name="grey"]{
    background-color: rgb(215, 215, 215);
}
.last_section { 
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    padding: 5% 10% 2% 10% ;
}
.last_section_txt img {
    width: 40%;
}
.last_section_txt button {
    margin: 2% 0 10% 0;
    background-color: rgb(104, 162, 212);
    color: white;
}

/* footer rules */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* debug rules */
    width: 100%;
    height: 16.6%;
    background-color: rgb(36, 36, 36);
}
.end_info {
    display: flex;
    flex-basis:content;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 1% 10% 1% 10%;
    border-bottom: 1px solid white ;
    /* debug rules */
    width: 100%;
    height: 300px;
}
.first_col {
    width: 30%;
    /* debug rules */
    height: 300px;
    background-color: rgb(255, 152, 224);
    border: 1px dotted rgb(0, 0, 0);
}
.col {
    width: 17.5%;
    /* debug rules */
    height: 300px ;
    border: 1px dotted rgb(255, 255, 255);
    background-color: rgb(93, 209, 170);
}
.footer_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 10% 1% 10%;
    /* debug rules */
    width: 100%;
    height: 100%;
    background-color:rgb(36, 36, 36) ;
}
.credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0 0 0;
    /* debug rules */
    background-color: aquamarine;
    width: 100%;
    height: 25px;
}
button, .end_logo {
    /* debug rules */
    background-color: rgb(247, 247, 247);
    border: none;
    font-weight: 600;
    border-radius: 25px;
    font-size: small;
    padding: 4px 10px 4px 10px;
}
button::after {
    box-shadow: 2px solid rgba(0,0,0,0.8);
}