/* Main page settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header section rules */
.navbar {
        background-color: #255ee9;
        position: fixed;
        top: 0;
        left: 0;
        height: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        padding: 0% 5% 0 5%;
        z-index: 500;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 60%;
}
.navbar a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        margin: 0 30px 0 30px;
}
.navbar li:hover{
    text-decoration: underline 2px white;
}

.jumbotron {
    margin-top: 100px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 550px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

}
.jumbo_text {
    font-size: 20px;
    text-align: center;
    padding: 0 30% 0 30%;
}
.jumbo_text h2,
.jumbo_text p {
    margin-bottom: 25px;
    color: white;
}
/* main page rules */
main {
    display: flex;
    flex-direction: column;
}
section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 5% 2% 5%;
}
section .sect_txt h3 {
    font-size: 30px;
}
section.grey{
    background-color: #f6f6f6 ;
}
section.column {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.column.grey.last{
    padding-bottom: 100px;
}
.sect_txt.big {
    padding-top: 40px;
    text-align: center;
}
.sect_img.big{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sect_img {
    width: 50%;
}
.sect_img img{
    max-width: 100%;
}

.sect_txt h3,
section.grey.column {
    padding-bottom: 50px;
    font-size: 25px;
}
.sect_txt {
    width: 50%;
    font-size: 20px;
}

/* footer rules */
footer {
    background-color:#23272a;
    display: flex;
    flex-direction: column;
}
.nav_top {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav_down{
    border-top: 2px solid #363e75 ;
    display: flex;
    justify-content: space-between;
    margin: 2% 10% 2% 10%;
    align-items: stretch;
    padding: 30px 0 0 0;
}
.nav_col{
    flex-grow: 1;
    padding: 2% 10% 0 0;

}
.nav_col h5 {
    color:#515ddb;
    font-size: 15px;
}
.nav_col ul {
    list-style: none;
}
.nav_col li{
    margin: 10px 0 10px 0;
}
.nav_col a{
    text-decoration: none;
    color: white;
}
.nav_col a:hover {
    text-decoration: underline 1px white;
}
.user_lenguage img {
    height: 20px;
    width: 30px;
}
.user_lenguage{
    display: flex;
    justify-content:flex-start;
    color: white;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 30px;
}
.social ul {
    display: flex;
    justify-content:flex-start;
}
.social li {
    list-style: none;
    margin-right: 20px;
}
.social a {
    color: white;
}
.user_lenguage span,
.user_lenguage i {
    font-size: 15px;
    margin: 0 0 0 5px;
}
.large {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 5% 2% 0 10% ;
}
/* btn rules */
.jumbo_btn {
    display: flex;
    justify-content: center;
}
.btn.azure {
    font-size: 15pxpx;
    margin-top: 20px;
    background-color: #5865f2;
    color: white;
}
.btn.black{
    background-color: black;
    color: white;
}
.nav_login.btn {
    font-size: 15px;
}
.btn {
    font-size: 18px;
    background-color:#ffffff;
    border-radius: 25px;
    padding: 8px;
    display: inline block;
    width: fit-content;
    margin: 0 20px 0 20px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
.btn.bottom {
    margin: 0;
}
